$primary-color: #333;
$text-color: #666;
$background-color: #f9f9f9;
$border-color: #ccc;

@mixin card-style {
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    background-color: $background-color;
}

.trip-card {
    @include card-style;

    button {
        margin-top: 10px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:first-of-type {
          margin-right: 10px;
        }
        &:hover {
          opacity: 0.8;
        }
      }

    h3 {
        color: $primary-color;
        font-size: 20px;
    }

    p {
        color: $text-color;
        font-size: 16px;
        line-height: 1.5;
    }
}