.settings {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
  
    button {
      padding: 5px 10px;
      margin-right: 10px;
      cursor: pointer;
      background-color: var(--button-background);
      color: var(--button-text-color);
      border: outset;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
    
      &:hover {
        opacity: 0.8;
      }
    }
  }